# Palmer Penguins Modeling

Import the Palmer Penguins dataset and print out the first few rows.

Suppose we want to predict `bill_depth_mm` using the other variables in the dataset.

**Dummify** all variables that require this.

---
format: 
  html:
    embed-resources: true
execute:
  echo: true
code-fold: true
author: James Compagno
jupyter: python3
---

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import numpy as np
from palmerpenguins import load_penguins
import plotnine as p9
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline

In [ ]:
#Dummies
penguins = load_penguins()
dat = pd.get_dummies(penguins)
dat

     bill_length_mm  bill_depth_mm  ...  sex_female  sex_male
0              39.1           18.7  ...       False      True
1              39.5           17.4  ...        True     False
2              40.3           18.0  ...        True     False
3               NaN            NaN  ...       False     False
4              36.7           19.3  ...        True     False
..              ...            ...  ...         ...       ...
339            55.8           19.8  ...       False      True
340            43.5           18.1  ...        True     False
341            49.6           18.2  ...       False      True
342            50.8           19.0  ...       False      True
343            50.2           18.7  ...        True     False

[344 rows x 13 columns]

Let's use the other variables to predict `bill_depth_mm`. Prepare your data and fit the following models on a training dataset subset of the entire dataset:

* Four different models, each containing a different set of predictor variables

Create a plot like the right plot of Fig 1. in our `Model Validation` chapter with the training and test error plotted for each of your four models.

Which of your models was best?

In [70]:
dat = dat.dropna(subset=['bill_depth_mm'])     
dat = dat.dropna()                                  

X = dat.drop(columns=['bill_depth_mm'])
y = dat['bill_depth_mm']

print(X)
print(y)

     bill_length_mm  flipper_length_mm  ...  sex_female  sex_male
0              39.1              181.0  ...       False      True
1              39.5              186.0  ...        True     False
2              40.3              195.0  ...        True     False
4              36.7              193.0  ...        True     False
5              39.3              190.0  ...       False      True
..              ...                ...  ...         ...       ...
339            55.8              207.0  ...       False      True
340            43.5              202.0  ...        True     False
341            49.6              193.0  ...       False      True
342            50.8              210.0  ...       False      True
343            50.2              198.0  ...        True     False

[342 rows x 12 columns]
0      18.7
1      17.4
2      18.0
4      19.3
5      20.6
       ...
339    19.8
340    18.1
341    18.2
342    19.0
343    18.7
Name: bill_depth_mm, Length: 342, dtype: float64

In [71]:
# Split into train and test 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
lr = LinearRegression().fit(X_train, y_train)

train_pred = lr.predict(X_train)
test_pred  = lr.predict(X_test)

In [ ]:
penguins = load_penguins()
dat = pd.get_dummies(penguins).dropna(subset=['bill_depth_mm'])
X = dat.drop(columns=['bill_depth_mm'])
y = dat['bill_depth_mm']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

lr = LinearRegression()
train_pred = lr.predict(X_train)

# Create a plotting DataFrame aligned with training data
plot_train = dat.loc[X_train.index, ['bill_length_mm', 'bill_depth_mm']].copy()
plot_train['y_pred'] = train_pred
plot_train = plot_train.sort_values('bill_length_mm')

NotFittedError: This LinearRegression instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.