## Intro

In this PA, you will practice altering data frame objects in order to solve a riddle.

### Advice for troubleshooting your code

#### Check results often

If a chunk of code runs smoothly without giving you any error or warnings this does not necessarily mean it accomplished the desired task.

It is a good habit to check the results of your code every time you finish a task.

If you created or updated a data frame, make sure your edits did what you hoped.  Use the *Environment* or the `head()` function to investigate your changes.

#### Document your work

In the text before the code chunk, make sure to briefly state what the point of the chunk is.  This will remind later readers - which might be your future self! - what the desired output is.

Use comments in the code to give quick explanations of the goals of complex steps.

#### Two heads are better than one

It can be hard to spot bugs in code that you yourself wrote.t
(Have you ever sent a text message and not spotted an obvious  typo?  Same idea!)

Work with people around you if you can - if something goes wrong, ask a friend to take a peek at your code and see if any glaring errors (like *syntax error*) pop out.

#### Explain your code out loud

The best way to troubleshoot a sneaky bug is to explain out loud each step of your code, and what you hoped to accomplish.

If you are alone, try [Rubber Duck Debugging](https://en.wikipedia.org/wiki/Rubber_duck_debugging)!

#### Google is your friend

The whole of the internet is at your disposal!  Use it early, use it often.

Copy-paste the exact error message into Google. Chances are, somebody else had a similar problem and got a similar message.


Include package names in your search terms.  For example, "bar plot in plotnine with pandas data frame" is a better search than "bar plot in python".


## Part One: Data import and cleaning

This section will walk you through some steps to clean up today's dataset, so that you can use it more easily in Part Two.  

First, we declare our package dependencies and load the data.

(Note that the data loading function `read_csv` will give you an outpouring of helpful information about the dataset.  If you do not see the word "error", there is nothing to be concerned about.)

In [70]:
import numpy as np
import pandas as pd

colleges = pd.read_csv("colleges.csv")

In [71]:
colleges.head

<bound method NDFrame.head of       Unnamed: 0                                             INSTNM              CITY STABBR         ZIP  CONTROL  ADM_RATE  SAT_AVG  TUITIONFEE_IN  TUITIONFEE_OUT  ...  LO_INC_COMP_2YR_TRANS_YR3_RT  \
0              1                           Alabama A & M University            Normal     AL       35762        1    0.9027    929.0         9857.0         18236.0  ...                           NaN
1              2                University of Alabama at Birmingham        Birmingham     AL  35294-0110        1    0.9181   1195.0         8328.0         19032.0  ...                           NaN
2              3                                 Amridge University        Montgomery     AL  36117-3553        2       NaN      NaN         6900.0          6900.0  ...                           NaN
3              4                University of Alabama in Huntsville        Huntsville     AL       35899        1    0.8123   1322.0        10280.0         21480.0  ...                           NaN
4              5                           Alabama State University        Montgomery     AL  36104-0271        1    0.9787    935.0        11068.0         19396.0  ...                           NaN
...          ...                                                ...               ...    ...         ...      ...       ...      ...            ...             ...  ...                           ...
7053        7054                   Arizona State University at Yuma              Yuma     AZ   853656900        1       NaN      NaN            NaN             NaN  ...                           NaN
7054        7055  Bay Area Medical Academy - San Jose Satellite ...          San Jose     CA       95113        3       NaN      NaN            NaN             NaN  ...                           NaN
7055        7056                        High Desert Medical College         Lancaster     CA   935340000        3       NaN      NaN            NaN             NaN  ...                           NaN
7056        7057                                       BCI - Malden            Malden     MA    21480000        2       NaN      NaN            NaN             NaN  ...                           NaN
7057        7058          Health Career Institute- Lauderdale Lakes  Lauderdale Lakes     FL   333137268        3       NaN      NaN        22575.0             NaN  ...                           NaN

      NOLOAN_COMP_ORIG_YR4_RT  OPENADMP  PELL_COMP_4YR_TRANS_YR3_RT  DEATH_YR2_RT  NOLOAN_UNKN_ORIG_YR2_RT  NOT1STGEN_WDRAW_ORIG_YR6_RT  HI_INC_YR8_N  CUML_DEBT_P90  C100_L4
0                         NaN       2.0                         NaN           NaN                      NaN                          NaN           NaN            NaN      NaN
1                         NaN       2.0                         NaN           NaN                      NaN                          NaN           NaN            NaN      NaN
2                         NaN       1.0                         NaN           NaN                      NaN                          NaN           NaN            NaN      NaN
3                         NaN       2.0                         NaN           NaN                      NaN                          NaN           NaN            NaN      NaN
4                         NaN       2.0                         NaN           NaN                      NaN                          NaN           NaN            NaN      NaN
...                       ...       ...                         ...           ...                      ...                          ...           ...            ...      ...
7053                      NaN       NaN                         NaN           NaN                      NaN                          NaN           NaN            NaN      NaN
7054                      NaN       NaN                         NaN           NaN                      NaN                          NaN           NaN            NaN      NaN
7055                      NaN       NaN                         NaN           NaN                      NaN                          NaN           NaN            NaN      NaN
7056                      NaN       NaN                         NaN           NaN                      NaN                          NaN           NaN            NaN      NaN
7057                      NaN       NaN                         NaN           NaN                      NaN                          NaN           NaN            NaN      NaN

[7058 rows x 27 columns]>

In [72]:
colleges.columns

Index(['Unnamed: 0', 'INSTNM', 'CITY', 'STABBR', 'ZIP', 'CONTROL', 'ADM_RATE', 'SAT_AVG', 'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'UGDS', 'REGION', 'DEP_INC_PCT_H2', 'MD_INC_WDRAW_2YR_TRANS_YR4_RT',
       'IND_COMP_4YR_TRANS_YR4_RT', 'SD_EARN_WNE_P10', 'FEMALE_WDRAW_4YR_TRANS_YR6_RT', 'LO_INC_COMP_2YR_TRANS_YR3_RT', 'NOLOAN_COMP_ORIG_YR4_RT', 'OPENADMP', 'PELL_COMP_4YR_TRANS_YR3_RT', 'DEATH_YR2_RT',
       'NOLOAN_UNKN_ORIG_YR2_RT', 'NOT1STGEN_WDRAW_ORIG_YR6_RT', 'HI_INC_YR8_N', 'CUML_DEBT_P90', 'C100_L4'],
      dtype='object')

The code chunks in this section will cause an error and/or do the desired task incorrectly.  (Even the chunks that run without error are not correct!) You will need to find the mistake, and correct it, to complete the intended action.

None of the *text* is incorrect, only the *code* - your goal is to make the code do exactly what the documentation claims it will.

#### 1. Narrow down the columns to variables of interest

There are too many variables in this dataset.  We don't need all of them. We will limit our dataset down to only:

Name of the institution
City, State, and ZIP code of the institution
The Admissions Rate
The average SAT score
The number of undergraduate students
The in and out of state tuitions
Whether the school is public or private
The "REGION" variable.

In [73]:
colleges_clean = colleges[['INSTNM', 'CITY', 'STABBR', 'ZIP', 'CONTROL', 'ADM_RATE', 'SAT_AVG', 'TUITIONFEE_IN', 'TUITIONFEE_OUT', 'UGDS', 'REGION']]

#### 2. Remove observations that aren't needed

Drop the schools that are "private for-profit" (category 3).  We will not need these for the puzzle.

In [74]:
colleges_clean = colleges_clean[colleges_clean['CONTROL'] != 3]

In [75]:
colleges_clean.describe

<bound method NDFrame.describe of                                                  INSTNM              CITY STABBR         ZIP  CONTROL  ADM_RATE  SAT_AVG  TUITIONFEE_IN  TUITIONFEE_OUT     UGDS  REGION
0                              Alabama A & M University            Normal     AL       35762        1    0.9027    929.0         9857.0         18236.0   4824.0       5
1                   University of Alabama at Birmingham        Birmingham     AL  35294-0110        1    0.9181   1195.0         8328.0         19032.0  12866.0       5
2                                    Amridge University        Montgomery     AL  36117-3553        2       NaN      NaN         6900.0          6900.0    322.0       5
3                   University of Alabama in Huntsville        Huntsville     AL       35899        1    0.8123   1322.0        10280.0         21480.0   6917.0       5
4                              Alabama State University        Montgomery     AL  36104-0271        1    0.9787    935.0        11068.0         19396.0   4189.0       5
...                                                 ...               ...    ...         ...      ...       ...      ...            ...             ...      ...     ...
7050                 Arizona State University at Tucson            Tucson     AZ   857454284        1       NaN      NaN            NaN             NaN      NaN       6
7051  Arizona State University - ASU Colleges at Lak...  Lake Havasu City     AZ   864036877        1       NaN      NaN         6904.0         10106.0      NaN       6
7052        Arizona State University at The Gila Valley          Thatcher     AZ   855525545        1       NaN      NaN            NaN             NaN      NaN       6
7053                   Arizona State University at Yuma              Yuma     AZ   853656900        1       NaN      NaN            NaN             NaN      NaN       6
7056                                       BCI - Malden            Malden     MA    21480000        2       NaN      NaN            NaN             NaN      NaN       1

[4089 rows x 11 columns]>

In [76]:
colleges_clean.dtypes

INSTNM             object
CITY               object
STABBR             object
ZIP                object
CONTROL             int64
ADM_RATE          float64
SAT_AVG           float64
TUITIONFEE_IN     float64
TUITIONFEE_OUT    float64
UGDS              float64
REGION              int64
dtype: object

### 3. Adjust variable types: Numeric

Some of the columns of the dataset were automatically understood by the computer to be categorical, due to missing data appearing like strings.

Adjust the appropriate columns to be numeric.

In [77]:
colleges_clean['TUITIONFEE_IN'] = colleges_clean['TUITIONFEE_IN'].astype('float')

colleges_clean['TUITIONFEE_OUT'] = colleges_clean['TUITIONFEE_OUT'].astype('float')

colleges_clean['SAT_AVG'] = colleges_clean['SAT_AVG'].astype('float')

colleges_clean['ADM_RATE'] = colleges_clean['ADM_RATE'].astype('float')

colleges_clean['UGDS'] = colleges_clean['UGDS'].astype('float')

In [78]:
colleges_clean.dtypes

INSTNM             object
CITY               object
STABBR             object
ZIP                object
CONTROL             int64
ADM_RATE          float64
SAT_AVG           float64
TUITIONFEE_IN     float64
TUITIONFEE_OUT    float64
UGDS              float64
REGION              int64
dtype: object

### 4. Adjust variable types: Categorical

Similarly, columns of the dataset that are not numbers are automatically understood by the computer to be strings.

We know, however, that some variables are truly *categorical*, in that there are only a few categories (or "levels") that can be values of the column.

Adjust the appropriate columns to be understood as categorical.

In [79]:
colleges_clean['CONTROL'].astype('object')
colleges_clean['REGION'].astype('object')

0       5
1       5
2       5
3       5
4       5
       ..
7050    6
7051    6
7052    6
7053    6
7056    1
Name: REGION, Length: 4089, dtype: object

In [80]:
colleges_clean.dtypes

INSTNM             object
CITY               object
STABBR             object
ZIP                object
CONTROL             int64
ADM_RATE          float64
SAT_AVG           float64
TUITIONFEE_IN     float64
TUITIONFEE_OUT    float64
UGDS              float64
REGION              int64
dtype: object

#### 5. Calculate new variables

Create a new variable called TUITION_DIFF which contains the difference between in and out of state costs.

In [81]:
colleges_clean['TUITION_DIFF'] = colleges_clean['TUITIONFEE_OUT'] - colleges_clean['TUITIONFEE_IN']

In [82]:
colleges_clean.head

<bound method NDFrame.head of                                                  INSTNM              CITY STABBR         ZIP  CONTROL  ADM_RATE  SAT_AVG  TUITIONFEE_IN  TUITIONFEE_OUT     UGDS  REGION  TUITION_DIFF
0                              Alabama A & M University            Normal     AL       35762        1    0.9027    929.0         9857.0         18236.0   4824.0       5        8379.0
1                   University of Alabama at Birmingham        Birmingham     AL  35294-0110        1    0.9181   1195.0         8328.0         19032.0  12866.0       5       10704.0
2                                    Amridge University        Montgomery     AL  36117-3553        2       NaN      NaN         6900.0          6900.0    322.0       5           0.0
3                   University of Alabama in Huntsville        Huntsville     AL       35899        1    0.8123   1322.0        10280.0         21480.0   6917.0       5       11200.0
4                              Alabama State University        Montgomery     AL  36104-0271        1    0.9787    935.0        11068.0         19396.0   4189.0       5        8328.0
...                                                 ...               ...    ...         ...      ...       ...      ...            ...             ...      ...     ...           ...
7050                 Arizona State University at Tucson            Tucson     AZ   857454284        1       NaN      NaN            NaN             NaN      NaN       6           NaN
7051  Arizona State University - ASU Colleges at Lak...  Lake Havasu City     AZ   864036877        1       NaN      NaN         6904.0         10106.0      NaN       6        3202.0
7052        Arizona State University at The Gila Valley          Thatcher     AZ   855525545        1       NaN      NaN            NaN             NaN      NaN       6           NaN
7053                   Arizona State University at Yuma              Yuma     AZ   853656900        1       NaN      NaN            NaN             NaN      NaN       6           NaN
7056                                       BCI - Malden            Malden     MA    21480000        2       NaN      NaN            NaN             NaN      NaN       1           NaN

[4089 rows x 12 columns]>

#### 6. Deal with missing data

Drop all the rows with missing data.

(It is often a terrible idea to simply drop all rows with *any* missing data!  Usually, even if *some* of the information is missing, we don't want to throw out the entire row.  In this example, however, we'll be lazy.)

In [83]:
colleges_clean = colleges_clean.dropna()

## Part Two:  Identify the mystery college

Wow!  Your best friend Ephelia has been accepted to the college of her dreams!  Unfortunately, Ephelia is a very mysterious person, and she won't tell you directly which college this is.  You'll have to use her clues to figure out which school is her dream school.

In [ ]:
#1. This college is located in Region 1.
answer_finder = colleges_clean[colleges_clean['REGION'] == 1]

#2. This college's admission rate is in the first quartile for the region.
q1 = answer_finder['ADM_RATE'].quantile(0.25)
answer_finder = answer_finder[answer_finder['ADM_RATE'] <= q1]

#3. This college charges the same for in- and out-of-state tuition.
answer_finder = answer_finder[answer_finder['TUITION_DIFF'] == 0 ]

#4. The average SAT score of this college is an odd number.
answer_finder = answer_finder[answer_finder['SAT_AVG'] % 2 == 1]

#5. This college is NOT in New Hampshire or in the city of Boston.
#it is &

#6. More than 3,000 people apply to this college every year.  (Hint: Make a new variable to compute how many people apply.  Assume the size of an incoming class is 1/4 of the total undergraduate population, and remember that not everyone who *applies* is *admitted*.)

#7. Ephelia is not going to an Ivy League school.

In [89]:
#8. Of the two options remaining at this step, Ephelia will attend the cheaper one.
#Williams 
answer_finder.head

<bound method NDFrame.head of                    INSTNM          CITY STABBR         ZIP  CONTROL  ADM_RATE  SAT_AVG  TUITIONFEE_IN  TUITIONFEE_OUT     UGDS  REGION  TUITION_DIFF
1500      Amherst College       Amherst     MA  01002-5000        2    0.1290   1497.0        54310.0         54310.0   1835.0       1           0.0
1505       Babson College   Babson Park     MA  02457-0310        2    0.2418   1347.0        49664.0         49664.0   2342.0       1           0.0
1512   Bentley University       Waltham     MA  02452-4705        2    0.4415   1319.0        48000.0         48000.0   4203.0       1           0.0
1519    Boston University        Boston     MA        2215        2    0.2511   1401.0        52082.0         52082.0  16716.0       1           0.0
1520  Brandeis University       Waltham     MA  02454-9110        2    0.3422   1403.0        53537.0         53537.0   3624.0       1           0.0
1537      Emerson College        Boston     MA  02116-4624        2    0.4606   1299.0        44832.0         44832.0   3799.0       1           0.0
1549   Harvard University     Cambridge     MA        2138        2    0.0516   1523.0        48949.0         48949.0   7532.0       1           0.0
1619     Williams College  Williamstown     MA        1267        2    0.1458   1493.0        53550.0         53550.0   2033.0       1           0.0
2027    Dartmouth College       Hanover     NH  03755-3529        2    0.1045   1483.0        53368.0         53368.0   4315.0       1           0.0>