In [58]:
import numpy as np
import pandas as pd

In [1]:
print(
  "99 Bottles of beer on the wall, 99 Bottles of beer. Take one down, pass it around, 98 Bottles of beer on the wall. 98 Bottles of beer on the wall, 98 Bottles of beer. Take one down, pass it around, 97 Bottles of beer on the wall." #... etc etc etc
)

99 Bottles of beer on the wall, 99 Bottles of beer. Take one down, pass it around, 98 Bottles of beer on the wall. 98 Bottles of beer on the wall, 98 Bottles of beer. Take one down, pass it around, 97 Bottles of beer on the wall.

In [3]:
for i in range(100,3,-1):
  print(str(i) + " bottles of beer on the wall")
  print(str(i) + " bottles of beer")
  print(" take one down, pass it around,")
  print(str(i-1) + " bottles of beer on the wall")

100 bottles of beer on the wall
100 bottles of beer
 take one down, pass it around,
99 bottles of beer on the wall
99 bottles of beer on the wall
99 bottles of beer
 take one down, pass it around,
98 bottles of beer on the wall
98 bottles of beer on the wall
98 bottles of beer
 take one down, pass it around,
97 bottles of beer on the wall
97 bottles of beer on the wall
97 bottles of beer
 take one down, pass it around,
96 bottles of beer on the wall
96 bottles of beer on the wall
96 bottles of beer
 take one down, pass it around,
95 bottles of beer on the wall
95 bottles of beer on the wall
95 bottles of beer
 take one down, pass it around,
94 bottles of beer on the wall
94 bottles of beer on the wall
94 bottles of beer
 take one down, pass it around,
93 bottles of beer on the wall
93 bottles of beer on the wall
93 bottles of beer
 take one down, pass it around,
92 bottles of beer on the wall
92 bottles of beer on the wall
92 bottles of beer
 take one down, pass it around,
91 bottles of beer on the wall
91 bottles of beer on the wall
91 bottles of beer
 take one down, pass it around,
90 bottles of beer on the wall
90 bottles of beer on the wall
90 bottles of beer
 take one down, pass it around,
89 bottles of beer on the wall
89 bottles of beer on the wall
89 bottles of beer
 take one down, pass it around,
88 bottles of beer on the wall
88 bottles of beer on the wall
88 bottles of beer
 take one down, pass it around,
87 bottles of beer on the wall
87 bottles of beer on the wall
87 bottles of beer
 take one down, pass it around,
86 bottles of beer on the wall
86 bottles of beer on the wall
86 bottles of beer
 take one down, pass it around,
85 bottles of beer on the wall
85 bottles of beer on the wall
85 bottles of beer
 take one down, pass it around,
84 bottles of beer on the wall
84 bottles of beer on the wall
84 bottles of beer
 take one down, pass it around,
83 bottles of beer on the wall
83 bottles of beer on the wall
83 bottles of beer
 take one down, pass it around,
82 bottles of beer on the wall
82 bottles of beer on the wall
82 bottles of beer
 take one down, pass it around,
81 bottles of beer on the wall
81 bottles of beer on the wall
81 bottles of beer
 take one down, pass it around,
80 bottles of beer on the wall
80 bottles of beer on the wall
80 bottles of beer
 take one down, pass it around,
79 bottles of beer on the wall
79 bottles of beer on the wall
79 bottles of beer
 take one down, pass it around,
78 bottles of beer on the wall
78 bottles of beer on the wall
78 bottles of beer
 take one down, pass it around,
77 bottles of beer on the wall
77 bottles of beer on the wall
77 bottles of beer
 take one down, pass it around,
76 bottles of beer on the wall
76 bottles of beer on the wall
76 bottles of beer
 take one down, pass it around,
75 bottles of beer on the wall
75 bottles of beer on the wall
75 bottles of beer
 take one down, pass it around,
74 bottles of beer on the wall
74 bottles of beer on the wall
74 bottles of beer
 take one down, pass it around,
73 bottles of beer on the wall
73 bottles of beer on the wall
73 bottles of beer
 take one down, pass it around,
72 bottles of beer on the wall
72 bottles of beer on the wall
72 bottles of beer
 take one down, pass it around,
71 bottles of beer on the wall
71 bottles of beer on the wall
71 bottles of beer
 take one down, pass it around,
70 bottles of beer on the wall
70 bottles of beer on the wall
70 bottles of beer
 take one down, pass it around,
69 bottles of beer on the wall
69 bottles of beer on the wall
69 bottles of beer
 take one down, pass it around,
68 bottles of beer on the wall
68 bottles of beer on the wall
68 bottles of beer
 take one down, pass it around,
67 bottles of beer on the wall
67 bottles of beer on the wall
67 bottles of beer
 take one down, pass it around,
66 bottles of beer on the wall
66 bottles of beer on the wall
66 bottles of beer
 take one down, pass it around,
65 bottles of beer on the wall
65 bottles of beer on the wall
65 bottles of beer
 take one down, pass it around,
64 bottles of beer on the wall
64 bottles of beer on the wall
64 bottles of beer
 take one down, pass it around,
63 bottles of beer on the wall
63 bottles of beer on the wall
63 bottles of beer
 take one down, pass it around,
62 bottles of beer on the wall
62 bottles of beer on the wall
62 bottles of beer
 take one down, pass it around,
61 bottles of beer on the wall
61 bottles of beer on the wall
61 bottles of beer
 take one down, pass it around,
60 bottles of beer on the wall
60 bottles of beer on the wall
60 bottles of beer
 take one down, pass it around,
59 bottles of beer on the wall
59 bottles of beer on the wall
59 bottles of beer
 take one down, pass it around,
58 bottles of beer on the wall
58 bottles of beer on the wall
58 bottles of beer
 take one down, pass it around,
57 bottles of beer on the wall
57 bottles of beer on the wall
57 bottles of beer
 take one down, pass it around,
56 bottles of beer on the wall
56 bottles of beer on the wall
56 bottles of beer
 take one down, pass it around,
55 bottles of beer on the wall
55 bottles of beer on the wall
55 bottles of beer
 take one down, pass it around,
54 bottles of beer on the wall
54 bottles of beer on the wall
54 bottles of beer
 take one down, pass it around,
53 bottles of beer on the wall
53 bottles of beer on the wall
53 bottles of beer
 take one down, pass it around,
52 bottles of beer on the wall
52 bottles of beer on the wall
52 bottles of beer
 take one down, pass it around,
51 bottles of beer on the wall
51 bottles of beer on the wall
51 bottles of beer
 take one down, pass it around,
50 bottles of beer on the wall
50 bottles of beer on the wall
50 bottles of beer
 take one down, pass it around,
49 bottles of beer on the wall
49 bottles of beer on the wall
49 bottles of beer
 take one down, pass it around,
48 bottles of beer on the wall
48 bottles of beer on the wall
48 bottles of beer
 take one down, pass it around,
47 bottles of beer on the wall
47 bottles of beer on the wall
47 bottles of beer
 take one down, pass it around,
46 bottles of beer on the wall
46 bottles of beer on the wall
46 bottles of beer
 take one down, pass it around,
45 bottles of beer on the wall
45 bottles of beer on the wall
45 bottles of beer
 take one down, pass it around,
44 bottles of beer on the wall
44 bottles of beer on the wall
44 bottles of beer
 take one down, pass it around,
43 bottles of beer on the wall
43 bottles of beer on the wall
43 bottles of beer
 take one down, pass it around,
42 bottles of beer on the wall
42 bottles of beer on the wall
42 bottles of beer
 take one down, pass it around,
41 bottles of beer on the wall
41 bottles of beer on the wall
41 bottles of beer
 take one down, pass it around,
40 bottles of beer on the wall
40 bottles of beer on the wall
40 bottles of beer
 take one down, pass it around,
39 bottles of beer on the wall
39 bottles of beer on the wall
39 bottles of beer
 take one down, pass it around,
38 bottles of beer on the wall
38 bottles of beer on the wall
38 bottles of beer
 take one down, pass it around,
37 bottles of beer on the wall
37 bottles of beer on the wall
37 bottles of beer
 take one down, pass it around,
36 bottles of beer on the wall
36 bottles of beer on the wall
36 bottles of beer
 take one down, pass it around,
35 bottles of beer on the wall
35 bottles of beer on the wall
35 bottles of beer
 take one down, pass it around,
34 bottles of beer on the wall
34 bottles of beer on the wall
34 bottles of beer
 take one down, pass it around,
33 bottles of beer on the wall
33 bottles of beer on the wall
33 bottles of beer
 take one down, pass it around,
32 bottles of beer on the wall
32 bottles of beer on the wall
32 bottles of beer
 take one down, pass it around,
31 bottles of beer on the wall
31 bottles of beer on the wall
31 bottles of beer
 take one down, pass it around,
30 bottles of beer on the wall
30 bottles of beer on the wall
30 bottles of beer
 take one down, pass it around,
29 bottles of beer on the wall
29 bottles of beer on the wall
29 bottles of beer
 take one down, pass it around,
28 bottles of beer on the wall
28 bottles of beer on the wall
28 bottles of beer
 take one down, pass it around,
27 bottles of beer on the wall
27 bottles of beer on the wall
27 bottles of beer
 take one down, pass it around,
26 bottles of beer on the wall
26 bottles of beer on the wall
26 bottles of beer
 take one down, pass it around,
25 bottles of beer on the wall
25 bottles of beer on the wall
25 bottles of beer
 take one down, pass it around,
24 bottles of beer on the wall
24 bottles of beer on the wall
24 bottles of beer
 take one down, pass it around,
23 bottles of beer on the wall
23 bottles of beer on the wall
23 bottles of beer
 take one down, pass it around,
22 bottles of beer on the wall
22 bottles of beer on the wall
22 bottles of beer
 take one down, pass it around,
21 bottles of beer on the wall
21 bottles of beer on the wall
21 bottles of beer
 take one down, pass it around,
20 bottles of beer on the wall
20 bottles of beer on the wall
20 bottles of beer
 take one down, pass it around,
19 bottles of beer on the wall
19 bottles of beer on the wall
19 bottles of beer
 take one down, pass it around,
18 bottles of beer on the wall
18 bottles of beer on the wall
18 bottles of beer
 take one down, pass it around,
17 bottles of beer on the wall
17 bottles of beer on the wall
17 bottles of beer
 take one down, pass it around,
16 bottles of beer on the wall
16 bottles of beer on the wall
16 bottles of beer
 take one down, pass it around,
15 bottles of beer on the wall
15 bottles of beer on the wall
15 bottles of beer
 take one down, pass it around,
14 bottles of beer on the wall
14 bottles of beer on the wall
14 bottles of beer
 take one down, pass it around,
13 bottles of beer on the wall
13 bottles of beer on the wall
13 bottles of beer
 take one down, pass it around,
12 bottles of beer on the wall
12 bottles of beer on the wall
12 bottles of beer
 take one down, pass it around,
11 bottles of beer on the wall
11 bottles of beer on the wall
11 bottles of beer
 take one down, pass it around,
10 bottles of beer on the wall
10 bottles of beer on the wall
10 bottles of beer
 take one down, pass it around,
9 bottles of beer on the wall
9 bottles of beer on the wall
9 bottles of beer
 take one down, pass it around,
8 bottles of beer on the wall
8 bottles of beer on the wall
8 bottles of beer
 take one down, pass it around,
7 bottles of beer on the wall
7 bottles of beer on the wall
7 bottles of beer
 take one down, pass it around,
6 bottles of beer on the wall
6 bottles of beer on the wall
6 bottles of beer
 take one down, pass it around,
5 bottles of beer on the wall
5 bottles of beer on the wall
5 bottles of beer
 take one down, pass it around,
4 bottles of beer on the wall
4 bottles of beer on the wall
4 bottles of beer
 take one down, pass it around,
3 bottles of beer on the wall

In [5]:
def sing_verse(i):
  
    """
    Rescales a numeric vector to have a max of 1 and min of 0
    
    Parameter
    ---------
    verse : num
        A number from 1 to 100 representing the number of beer on the wall.

    Returns
    -------
    array 
        A song containing the values.
    """

    print(str(i) + " bottles of beer on the wall")
    print(str(i) + " bottles of beer")
    print(" take one down, pass it around,")
    print(str(i-1) + " bottles of beer on the wall")
  
    return sing_verse

In [6]:
sing_verse(13)

13 bottles of beer on the wall
13 bottles of beer
 take one down, pass it around,
12 bottles of beer on the wall

In [15]:
#hers

i = 100

def sing_verse2(i):
  song = str(i) + " bottles of beer on the wall \n" + str(i) + " bottles of beer \n" + " take one down, pass it around, \n" + str(i-1) + " bottles of beer on the wall \n"
  
  return song

In [17]:
song = ""

for i in range(100,97,-1):
  song = song + sing_verse2(i)
  
print(song)

100 bottles of beer on the wall
100 bottles of beer
 take one down, pass it around,
99 bottles of beer on the wall
99 bottles of beer on the wall
99 bottles of beer
 take one down, pass it around,
98 bottles of beer on the wall
98 bottles of beer on the wall
98 bottles of beer
 take one down, pass it around,
97 bottles of beer on the wall

In [41]:
song = []

for i in range(100,97,-1):
  new_verse = sing_verse2(i)
  song.append(new_verse)
  
print(song)

['100 bottles of beer on the wall \n100 bottles of beer \n take one down, pass it around, \n99 bottles of beer on the wall \n', '99 bottles of beer on the wall \n99 bottles of beer \n take one down, pass it around, \n98 bottles of beer on the wall \n', '98 bottles of beer on the wall \n98 bottles of beer \n take one down, pass it around, \n97 bottles of beer on the wall \n']

In [20]:
song

['100 bottles of beer on the wall \n100 bottles of beer \n take one down, pass it around, \n99 bottles of beer on the wall \n',
 '99 bottles of beer on the wall \n99 bottles of beer \n take one down, pass it around, \n98 bottles of beer on the wall \n',
 '98 bottles of beer on the wall \n98 bottles of beer \n take one down, pass it around, \n97 bottles of beer on the wall \n']

7.2.1 Vectorized functions

In [22]:
a_num = 5
a_vec = [1,3,5,7]

np.sqrt(a_num)
np.sqrt(a_vec)

array([1.        , 1.73205081, 2.23606798, 2.64575131])

In [23]:
result = []
for i in a_vec:
  result = result + [np.sqrt(i)]
  
result

[np.float64(1.0),
 np.float64(1.7320508075688772),
 np.float64(2.23606797749979),
 np.float64(2.6457513110645907)]

In [29]:
a_vec = np.array([-2, 1, -3, -9, 7])

for val in a_vec:
  if val > 0:
    val = np.sqrt(val)
  print(val)

-2
1.0
-3
-9
2.6457513110645907

In [25]:
is_pos = a_vec > 0

a_vec[is_pos] = np.sqrt(a_vec[is_pos])

a_vec

array([-2,  1, -3, -9,  2])

In [30]:
a_vec = np.array([-2, 1, -3, -9, 7])

In [39]:
def sqrt_pos_unvec(val):
    if val > 0:
        val = np.sqrt(val)
    return val

In [36]:
def sqrt_pos_vec(vec_array):
    is_pos = a_vec > 0
    a_vec[is_pos] = np.sqrt(a_vec[is_pos])

    return is_pos

In [37]:
sqrt_pos_vec(100)

array([False,  True, False, False,  True])

In [44]:
song = map(sing_verse2, range(100, 97, -1))
song = list(song)
print("".join(song))

100 bottles of beer on the wall
100 bottles of beer
 take one down, pass it around,
99 bottles of beer on the wall
99 bottles of beer on the wall
99 bottles of beer
 take one down, pass it around,
98 bottles of beer on the wall
98 bottles of beer on the wall
98 bottles of beer
 take one down, pass it around,
97 bottles of beer on the wall

In [49]:
nums = range(100, 97, -1)
drinks = ["beer", "milk", "lemonade"]
song = map(sing_verse_3, nums, drinks)
print("".join(list(song)))

100 bottles of beer on the wall
100 bottles of beer
 take one down, pass it around,
99 bottles of beer on the wall
99 bottles of milk on the wall
99 bottles of milk
 take one down, pass it around,
98 bottles of milk on the wall
98 bottles of lemonade on the wall
98 bottles of lemonade
 take one down, pass it around,
97 bottles of lemonade on the wall

In [48]:
def sing_verse_3(num, drink):
  song = str(num) + " bottles of " + drink + " on the wall \n"
  song = song + str(num) + " bottles of " + drink + "\n" 
  song = song + " take one down, pass it around, \n"
  song = song + str(num-1) + " bottles of " + drink + " on the wall \n"
  
  return song

In [65]:
def sing_verse_4(num, containers, drink):
  song = str(num) + " " + containers + " of " + drink + " on the wall \n"
  song = song + str(num) + " " + containers + " of " + drink + "\n" 
  song = song + " take one down, pass it around, \n"
  song = song + str(num-1) + " " + containers + " of "+ drink + " on the wall \n"
  
  return song

In [66]:
nums = range(100, 97, -1)
containers = ["bottles", "cartons", "glasses"]
drinks = ["beer", "milk", "lemonade"]
song = map(sing_verse_4, nums, containers, drinks)
print("".join(list(song)))

100 bottles of beer on the wall
100 bottles of beer
 take one down, pass it around,
99 bottles of beer on the wall
99 cartons of milk on the wall
99 cartons of milk
 take one down, pass it around,
98 cartons of milk on the wall
98 glasses of lemonade on the wall
98 glasses of lemonade
 take one down, pass it around,
97 glasses of lemonade on the wall

Lambda here

Iterating on datasets

In [70]:
dat = pd.DataFrame({"x": [99, 50, 2], "y": [1, 2, 3]})

dat.apply(np.sqrt)

          x         y
0  9.949874  1.000000
1  7.071068  1.414214
2  1.414214  1.732051

In [71]:
dat.apply(np.sum, axis=1)

0    100
1     52
2      5
dtype: int64

In [72]:
dat = pd.DataFrame({"num": [99, 50, 2], "drink": ["beer", "soda", "Capri Sun"], "container": ["bottles", "cans", "pouches"]})

dat

   num      drink container
0   99       beer   bottles
1   50       soda      cans
2    2  Capri Sun   pouches

In [77]:
dat.apply(lambda x: sing_verse_4(x['num'], x['drink'], x['container']), axis=1)

0    99 beer of bottles on the wall \n99 beer of bo...
1    50 soda of cans on the wall \n50 soda of cans\...
2    2 Capri Sun of pouches on the wall \n2 Capri S...
dtype: object